<h3>Componente productos</h3>
<!-- <ul>
    <li *ngFor="let product of products">
      {{ product.name }} - {{ product.price | currency }}
    </li>
</ul> -->

@for (product of products; track product.name) {
    <tr>
      <td>{{ product.name }}</td>
      <td>
        <img src="{{product.img}}" alt="">
      </td>
      <td>$ {{ product.price }} </td>
      @if (product.stock >0) {
        <td> - CANT: {{ product.stock }}</td>
      } @else {
        <td>SIN STOCK</td>
      }
    </tr>
  } @empty {
    <tr>
      <td colspan="4">No hay productos para mostrar.</td>
    </tr>
  }