<div class="scroll-barrita"></div>
<section>
    <article>
        <h3>Bardo</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, repellendus cupiditate error quas, iusto atque adipisci dolores, aperiam voluptatibus consectetur repudiandae quasi ipsam praesentium minus incidunt sed debitis laborum neque!</p>
        <img src="media/bard1.jpg" alt="">
    </article>
    <article>
        <h3>Bardo Shanghai</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid est excepturi dolores debitis et eaque molestias numquam accusamus cum corporis. Mollitia quo totam ipsam eos tenetur minima soluta sunt praesentium?</p>
        <img src="media/bard2.jpg" alt="">
    </article>
    <article>
        <h3>Bardo Monerias de Cafe</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia neque porro eos cumque. Numquam voluptatibus vitae suscipit cumque. Atque, accusamus distinctio itaque quia sunt eos hic esse autem consequuntur possimus.</p>
        <img src="media/bard3.jpg" alt="">
    </article>
    <article>
        <h3>Bardo Monerias de Cafe</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia neque porro eos cumque. Numquam voluptatibus vitae suscipit cumque. Atque, accusamus distinctio itaque quia sunt eos hic esse autem consequuntur possimus.</p>
        <img src="media/bard3.jpg" alt="">
    </article>
</section>
